.p_projet {
    font-weight: 800;
    font-size: 19px;

    left: 35%;
    height: 300px;
}

.i_maintenance {
    position: relative;
    left: 35%;
    top: 20%;
    width: 100px ;
    height: 90px;
}